
.ThreeD
{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	/* only needed for objects where we change tranform... */
	/* add transition for smoothing in low FPS mode */
	-webkit-transition: -webkit-transform 0s linear;
	-moz-transition: -moz-transform 0s linear;
	transition: transform 0s linear;
}



.face {
	position: absolute;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	line-height: 1em;
	color: #fff;
}


#Container
{
	position: absolute;
	left: 50px;
	top: 50px;
	right: 80px;
	bottom: 90px;
	transform-style: preserve-3d;
	background: red;
	overflow: hidden;
}

